.dart_tool/
.pub/
build/
coverage/

.flutter-plugins
.flutter-plugins-dependencies
.packages

.idea/
*.iml

android/.gradle/
android/app/*.jks
android/key.properties

ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/